<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

    <key>GIDClientID</key>
    <string>455259719594-ccoh0mu529kiri12qs20jq3l2s7apgeu.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.455259719594-ccoh0mu529kiri12qs20jq3l2s7apgeu</string>
            </array>
        </dict>
    </array>
</dict>
</plist>